{% extends 'template/dashboard.twig' %}

{% block breadcrumb %}
	Listar Notificaciones
{% endblock %}

{% block content %}
	<p>
		{% if message is not empty %}
			<span class="alert alert-{{status}}">{{ message }}</span>
		{% endif %}
	</p>
	<div class="table-responsive">
		<table class="table table-striped " id="listarNotificaciones">
			<thead>
				<th>Id</th>
				<th>Tema</th>
				<th>Mensaje</th>
				<th>Creado por</th>
				<th>Fecha de Creación</th>
				<th>Acción</th>
			</thead>
			
			<tbody>
			{% for notificacion in content %}
				<tr>
					<td>{{notificacion.id}}</td>
					<td>{{notificacion.tema}}</td>
					<td>{{notificacion.mensaje}}</td>
					<td>{{notificacion.nombre}} {{notificacion.apellido}}</td>
					<td>{{notificacion.fecha_creacion}}</td>
					<td>
						<a href="{{ app.ROUTE_URL }}Dashboard/Notificacion/update/{{notificacion.id}}" class="btn btn-outline-info">Editar</a>
						<button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal" data-id="{{notificacion.id}}" data-tema="{{notificacion.tema}}" data-url="{{ app.ROUTE_URL }}Dashboard/Notificacion/delete/{{notificacion.id}}">Eliminar</button>
					</td>
				</tr>
			{% else %}
				<tr>
					<td>No data</td>
					<td>No data</td>
					<td>No data</td>
					<td>No data</td>
					<td>No data</td>
					<td>No data</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>

	{# Delete Modal #}
	<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="deleteModalLabel">Desea eliminar?</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body"></div>
				<div class="modal-footer">
					<form action="#" method="POST" id="deleteButton">
						<input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
						<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
						<button class="btn btn-danger" type="submit">Eliminar</button>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="https://www.google.com/recaptcha/api.js?render={{ app.RECAPTCHA_SITE_KEY }}"></script>
{% endblock %}