{% extends 'template/dashboard.twig' %}

{% block breadcrumb %}
	Listar Noticias
{% endblock %}

{% block content %}
	<p>
		{% if message is not empty %}
			<span class="alert alert-{{status}}">{{ message }}</span>
		{% endif %}
	</p>
	<div class="table-responsive">
		<table class="table table-striped " id="listarNoticias">
			<thead>
				<th>Id</th>
				<th>Titulo</th>
				<th>Creado por</th>
				<th>Fecha de Creación</th>
				<th>Fecha de Modificacion</th>
				<th>Acción</th>
			</thead>
			
			<tbody>
			{% for noticia in content %}
				<tr>
					<td>{{noticia.id}}</td>
					<td>{{noticia.titulo}}</td>
					<td></td>
					<td>{{noticia.fecha_creacion}}</td>
					<td>{{noticia.fecha_modificacion}}</td>
					<td>
						<a href="{{ app.ROUTE_URL }}Dashboard/Noticia/update/{{noticia.id}}" class="btn btn-outline-info">Editar</a>
						<button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal" data-id="{{noticia.id}}" data-titulo="{{noticia.titulo}}" data-url="{{ app.ROUTE_URL }}Dashboard/Notificacion/delete/{{noticia.id}}">Eliminar</button>
					</td>
				</tr>
			{% else %}
				<tr>
					<td>No data</td>
					<td>No data</td>
					<td>No data</td>
					<td>No data</td>
					<td>No data</td>
					<td>No data</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>

	{# Delete Modal #}
	<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="deleteModalLabel">Desea eliminar?</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body"></div>
				<div class="modal-footer">
					<form action="#" method="POST" id="deleteButton">
						<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
						<button class="btn btn-danger" type="submit">Eliminar</button>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}

	<script type="text/javascript" src="https://www.google.com/recaptcha/api.js?render={{ app.RECAPTCHA_SITE_KEY }}"></script>
	<script>
		$('#listarNoticias').DataTable({
			"language": {
				"sProcessing":     "Procesando...",
				"sLengthMenu":     "Mostrar _MENU_ registros",
				"sZeroRecords":    "No se encontraron resultados",
				"sEmptyTable":     "Ningún dato disponible en esta tabla",
				"sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
				"sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
				"sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
				"sInfoPostFix":    "",
				"sSearch":         "Buscar:",
				"sUrl":            "",
				"sInfoThousands":  ",",
				"sLoadingRecords": "Cargando...",
				"oPaginate": {
					"sFirst":    "Primero",
					"sLast":     "Último",
					"sNext":     "Siguiente",
					"sPrevious": "Anterior"
				},
				"oAria": {
					"sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
					"sSortDescending": ": Activar para ordenar la columna de manera descendente"
				}
			},

			"order": [[ 0, "desc" ]],
			"pagingType": "simple_numbers",
		});
	</script>

{% endblock %}