{% block header %}
	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="X-UA-Compatible" content="id=edge">

		{# Tipografía Universidad de Playa Ancha #}
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900">

		{# Fontawsome #}
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

		{# Material for Bootstrap CSS #}
		<link rel="stylesheet" type="text/css" href="{{ app.ROUTE_URL }}css/bootstrap-material-design.min.css">

		{# Another CSS #}
		{% if css is defined %}
			{% for css in css %}
				{% if css is not empty %}
					<link rel="stylesheet" type="text/css" href="{{ css }}">
				{% endif %}
			{% endfor %}
		{% endif %}

		{# Custom CSS #}
		<link rel="stylesheet" type="text/css" href="{{ app.ROUTE_URL }}css/main.css">

		<link rel="shortcut icon" href="{{ app.ROUTE_URL }}img/favicon.ico" />

		<title>{{ app.NAME_SITE }}</title>

	</head>
	<body>
		
{% endblock %}

{% block menu %}
	<nav class="navbar navbar-expand-lg navbar-light bg-upla">
		<a class="navbar-brand" href="{{ app.ROUTE_URL }}">
			<img src="{{ app.ROUTE_URL }}img/upla.png" width="60" height="60">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item {% if active == 'inicio' %}active{% endif %}">
					<a class="nav-link" href="{{ app.ROUTE_URL }}">Inicio <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item {% if active == 'academicos' %}active{% endif %}">
					<a class="nav-link" href="{{ app.ROUTE_URL }}Academicos/">Académicos</a>
				</li>
				<li class="nav-item {% if active == 'departamento' %}active{% endif %}">
					<a class="nav-link" href="{{ app.ROUTE_URL }}Departamento/">Departamento</a>
				</li>
				<li class="nav-item {% if active == 'alumnos' %}active{% endif %}">
					<a class="nav-link" href="{{ app.ROUTE_URL }}Alumnos/">Alumnos</a>
				</li>
				<li class="nav-item dropdown {% if active == 'carreras' %}active{% endif %}">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Carrera</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="{{ app.ROUTE_URL }}Carrera/Informatica/">Ingeniería Informática</a>
						<a class="dropdown-item" href="{{ app.ROUTE_URL }}Carrera/Estadistica/">Ingeniería Estadística</a>
					</div>
				</li>
				<li class="nav-item {% if active == 'investigacion' %}active{% endif %}">
					<a class="nav-link" href="{{ app.ROUTE_URL }}Investigacion/">Investigación</a>
				</li>
				<li class="nav-item {% if active == 'documentos' %}active{% endif %}">
					<a class="nav-link" href="{{ app.ROUTE_URL }}Documentos/">Documentos</a>
				</li>
				<li class="nav-item {% if active == 'contacto' %}active{% endif %}">
					<a class="nav-link" href="{{ app.ROUTE_URL }}Contacto/">Contacto</a>
				</li>
			</ul>
			
			{% if sessionActive == true %}
				<span class="form-inline my-2 my-lg-0">
					<a href="{{ app.ROUTE_URL }}Dashboard/" class="btn btn-outline">Dashboard</a>
				</span>
			{% else %}
				<span class="form-inline my-2 my-lg-0">
					<a href="{{ app.ROUTE_URL }}login/" class="btn btn-outline">Iniciar sesión</a>
				</span>
			{% endif %}
		</div>
	</nav>
{% endblock %}

<span id="page-id" class="d-none">{{page}}</span>
{% block main %}
	
	{% block headboard %}
		<div class="jumbotron" style="margin-bottom: 0px">
			<div class="container">
				<h1 class="display-3">{{title}}</h1>
			</div>
		</div>
	{% endblock %}

	<div class="container-fluid">
		<div class="row">
			<div class="col-12 col-md-9" style="margin-top: 32px;">
				<div class="col-10 offset-1">
					{% block content %}{% endblock %}
				</div>
			</div>

			{% block side_bar %}
				<div class="col-md-3" style="background-color: #cccccc;">
					{# Notificaciones #}
					<h4>Notificaciones</h4>
					{% for notif in notificaciones %}
						<p>
							<h4>{{ notif.tema }}</h4>
							<span>{{ notif.mensaje }}</span>
							<br><span>{{ notif.fecha_creacion }}</span>
						</p>
						<hr>
					{% endfor %}
					<br>

					{# Twitter Widget #}
					<h4>Twitter</h4>
					<a class="twitter-timeline" href="https://twitter.com/DCI_UPLA" data-chrome="noheader nofooter"  data-height="600">Tweets by DCI_UPLA</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
					
					{# Facebook Widget #}
					<div id="fb-root"></div>
					<script>(function(d, s, id) {
						var js, fjs = d.getElementsByTagName(s)[0];
						if (d.getElementById(id)) return;
						js = d.createElement(s); js.id = id;
						js.src = 'https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v3.1&appId=209954432725077&autoLogAppEvents=1';
						fjs.parentNode.insertBefore(js, fjs);
					}(document, 'script', 'facebook-jssdk'));</script>
					
					<br>
					<h4>Facebook</h4>
					<div style="width: auto;">
						<div class="fb-page" data-href="https://www.facebook.com/Prende2016/" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true" data-width="500"><blockquote cite="https://www.facebook.com/Prende2016/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Prende2016/">Prende</a></blockquote></div>
					</div>
					<br>					

				</div>
			{% endblock %}
		</div>
	</div>
{% endblock %}

{% block footer %}
	<footer class="footer text-muted bg-fondo ">
		<div class="container flex-row bg-fondo">
			<div class="row ">
				<div class="col-1">
						<a href="#"><i class="fab fa-instagram fa-4x" style="color: #5e5e5e"></i></a>
				</div>
				<div class="col-1">
					<a href="#"><i class="fab fa-facebook fa-4x " style="color: #5e5e5e"></i></a>
				</div>
				<div class="col-1">
					<a href="#"><i class="fab fa-twitter fa-4x " style="color: #5e5e5e"></i></a>
				</div>
				<div class="col-7 ">
					<p>Departamento de computación e informática</p>
					<p>Subida Leopoldo Carvallo 270 ,Playa Ancha ,Valparaíso, Region de Valparaíso</p>
				</div>

				<div class="col-2">
					<p class="float-right bg-fondo">
						<br>
						<a href="#">Subir</a>
					</p>
				</div>

			</div>
		</div>
	</footer>
{% endblock %}

{% block footer_scripts %}
		<script src="{{ app.ROUTE_URL }}js/jquery/jquery-3.3.1.min.js"></script>
		<script src="{{ app.ROUTE_URL }}js/popper/popper.min.js"></script>
		<script src="{{ app.ROUTE_URL }}js/bootstrap/bootstrap-material-design.min.js"></script>
		<script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>

		{# Another JS #}
		{% if js is defined %}
			{% for js in js %}
				{% if js is not empty %}
					<script src="{{ js }}"></script>
				{% endif %}
			{% endfor %}
		{% endif %}

		<script src="{{ app.ROUTE_URL }}js/main.js"></script>

		</body>
	</html>
{% endblock %}
