{% extends 'template/base.twig' %}

{% block content %}
	
	<div class="row">
	{% for academico in academicos %}
		<div class="col-sm-4 pb-3">
			<div class="card">
			<a href="{{ app.ROUTE_URL }}Academicos/Academico/{{ academico.id }}">
				<img class="card-img-top" src="{{ app.ROUTE_URL }}img/academicos/{{ academico.imagen_url }}" alt="{{ academico.nombre }}">
			</a>
				<div class="card-body">
					<h5 class="card-title">{{ academico.nombre }}</h5>
					<p class="card-text">{{ academico.descripcion }}</p>
					<a href="{{ app.ROUTE_URL }}Academicos/Academico/{{ academico.id }}" class="btn btn-secondary float-right">Ver</a>
				</div>
			</div>
		</div>
	{% else %}
		<p>No se encontraron académicos</p>
	{% endfor %}
	</div>

{% endblock %}